.container{
    display: flex;
}
.player, .computer{
    width: 50%;
}
.titles{
    text-align: center;
    text-transform: capitalize;
}
.player h3,.player ul{
    margin:10px;
}
.player input{
    width: 60%;
    text-align: center;
}
.play-result{
    width: 98%;
    position: absolute;
    text-align: center;
    line-height: 45px;
    z-index: -1;
}